
.flex{
	display: flex;
	width: 100%;
	margin: 20px 20px 0px 20px;
}


.flex-vertical{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.black, .lightseagreen, .blue, .pink, .orange {
	width: 30%;
	height: 650px;
}

.space-around{
	justify-content: space-around;
}

.space-between{
	justify-content: space-between;
}

.center{
	justify-content: center;
}

.black{
	background-color: black;
}

.lightseagreen{
	background-color: #20B2AA;
}

.blue{
	background-color: #4682B4;
}

.pink{
	background-color: pink;
}

.orange{
	background-color: orange;
}

.title{
	text-align: center;
	font-size: 35px;
}

.title-30{
	text-align: center;
	font-size: 30px;
}

.title-right{
	text-align: right;
	font-size: 35px;
	text-decoration: bold;
}
.impact {
	font-family: Impact, sans-serif;
	font-style: bold;
}

.helvetica {
	font-family: Helvetica, serif;
}

.georgia {
	font-family: georgia, serif;
}
}
.arial{
	font-family: arial, serif;
}

.century{
	font-family: century-gothic, sans-serif;
}

.main-text-center{
	padding: 2px;
	font-size: 15px;
	text-align: center;
	margin: 8px 5px 8px 5px;
}

.main-text-left{
	padding: 2px;
	font-size: 18px;
	text-align: left;
	margin: 8px 5px 8px 5px;
}

.main-text-right{
	padding: 2px;
	font-size: 20px;
	text-align: right;
	margin: 8px 5px 8px 5px;
}

.silver {
	color: #F0F8FF;
}

.hotpink {
	color: #FF1493;
}

.white {
	color: white;
}

.yellow {
	color: yellow
}

.blacktext{
	color: black
}

.cyan{
	color: #E0FFFF;
}

.image-container{
	padding: 10px;
}

.image-container-ghost{
	padding: 10px;
	height: 330px;
}

.image-container-gif{
	padding: 10px;
	height: 300px;
}

.image-container-orange{
	padding: 20px;
	height: 250px;
}

.image-container-blue{
	padding: 20px;
	height: 300px;
}

.pics{
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.spacing{
	line-height: 25px;
}

 .cyan-border {
    border-color: #E0FFFF;
    border-width: 10px;
    border-style: solid;
    padding: 2px
}

 .silver-border {
    border-color: #F0F8FF;
    border-width: 4px;
    border-style: solid;
    padding: 20px
}

.hotpink-border{
	border-color: #FF1493;
    border-width: 6px;
    border-style: solid;
    padding: 20px
}

.hotpink-dotted-border{
	border-color: #FF1493;
    border-width: 4px;
    border-style: dotted;
    padding: 20px
}

.black-dashed-border{
	border-color: black;
    border-width: 3px;
    border-style: dashed;
    padding: 5px
}


