
.flex{
	display: flex;
	width: 100%;
	margin: 20px 20px 0px 20px;
}


.flex-vertical{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.black, .lightseagreen, .blue, .pink, .orange {
	width: 500px;
	height: 700px;
}

.space-around{
	justify-content: space-around;
}

.center{
	justify-content: center;
}

.black{
	background-color: black;
}

.lightseagreen{
	background-color: #20B2AA;
}

.blue{
	background-color: #4682B4;
}

.pink{
	background-color: pink;
}

.orange{
	background-color: orange;
}

.title{
	text-align: center;
	font-size: 35px;
}

.impact {
	font-family: Impact, sans-serif;
	font-style: bold;
}

.helvetica {
	font-family: Helvetica, serif;
}

.arial{
	font-family: arial, serif;
}


.main-text-center{
	padding: 2px;
	font-size: 15px;
	text-align: center;
	margin: 8px 5px 8px 5px;
}

.silver {
	color: silver
}

.white {
	color: white;
}

.yellow {
	color: yellow
}

.image-small {
	flex-basis: 10%;
}

.image-container{
	width: 20%;
}
